/* 폰트 추가 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* 페이지 설정 */
body {
    display: flex;
    flex-direction: column;
    background-color: #F4F5F7;
}

/* 상단 헤더 */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.header-text {
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    align-self: center;
}
.horizontal-rule{
    width: 1920px;
    height: 1px;
    border: 0;
    background-color: black;
}
.post-info {
    display: flex;
    flex-direction: row;
}
.post-writer {
    display: flex;
    flex-direction: row;
}
